<% provide(:title, "view reservation requests") %>

<script type="text/javascript">
  setInterval("refreshRequests();", 20000);
  function refreshRequests() {
    doNotRefresh = false;
    <% if @user.requests.any? %>
      <% @user.requests.each do |request| %>
        if ($("#showRequest_<%= request.id %>:not(:visible)").length == 0) {
          doNotRefresh = true;
        }
      <% end %>
      if (!doNotRefresh) {
        $('#request_list').load(location.href + ' #refresh').fadeOut(1000).fadeIn(1000);
      }
    <% end %>
  }
</script>

<div class="hero-unit clearfix less_padding">
  <div class="row-fluid">
    <div class="span4 sidebar">
      <%= render "shared/sidebar"%>
    </div>
    <div class="span8 content bottom_space">
      <h1 class="page_title bottom_space">reservation requests</h1>
      <p class="same_line">Current reservation requests: (<%= @user.requests.count %>)</p>
      <p class="same_line2_requests">
        <small>(click on a request to change or view details)</small>
      </p>
      <div id="request_list">
        <div id="refresh">
          <p class="delete_all">
            <% if @user.requests.any? %>
            <%= link_to "delete all", delete_all_user_requests_path(current_user), data: { confirm: "Are you sure?" } %>
            <% end %>
          </p>
          <% if @user.requests.any? %>
            <ol class="requests">
              <%= render @requests %>
            </ol>
            <%= will_paginate @requests %>
            <% else %>
            <hr>
            <p>You currently do not have any reservation requests.</p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>