<%= image_tag "restaurant_patron.jpg", id: "patron" %>
<h2 class="username"><%= current_user.name %></h2>
<h3 class="bottom_space go_up">
  <%= link_to pluralize(current_user.requests.count, "reservation request"), user_path(current_user) %>
</h3>
<%= form_tag({controller: "restaurants", action: "search"}, method: "get", class: "no_border well") do %>
  <fieldset>
    <legend class="no_bottom_space"><strong>Need a reservation?</strong></legend>
    <div class="control-group">
      <%= label_tag :name, "Name:", class: "control-label" %>
      <div class="controls">
        <%= text_field_tag "restaurant_name", nil, class: "input-medium" %>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $("#restaurant_name" ).autocomplete({
          source: "<%= autocomplete_restaurant_name_restaurants_path(format: :json) %>"
        });
      });
    </script>
    <div class="control-group">
      <%= label_tag :city, "City:", class: "control-label" %>
      <div class="controls">
        <%= text_field_tag "restaurant_city", nil, class: "input-medium" %>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $("#restaurant_city" ).autocomplete({
          source: "<%= autocomplete_restaurant_city_restaurants_path(format: :json) %>"
        });
      });
    </script>
    <div class="control-group">
      <%= label_tag :state, "State:", class: "control-label" %>
      <div class="controls">
        <%= select_tag :state, options_for_select(Restaurant.states), class: "input-medium" %>
        <%= submit_tag "Find restaurant", class: "btn btn-large btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>