<%= link_to "#makeReservation_#{restaurant.id}", data: { toggle: "modal" } do %>
  <li>
    <span class="restaurant_name"><%= restaurant.name %></span>
    <span class="restaurant_address"><%= restaurant.address %></span>
    <span><%= restaurant.city %></span>, <span><%= restaurant.state %></span> <span><%= restaurant.ZIP %></span>
  </li>
<% end %>
<div class="modal fade content" id="makeReservation_<%= restaurant.id %>">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3 class="move_left">make reservation request at</h3>
	</div>
	<div class="modal-body">
    <div class="expand_form">
      <%= form_for([current_user, Request.new], remote: true, class: "well") do |f| %>
        <div class="modal_padding">
          <fieldset>
            <div class="control-group">
              <span class="restaurant_name"><strong><%= restaurant.name %></strong></span>
              <span class="restaurant_address"><%= restaurant.address %></span>
              <span><%= restaurant.city %></span>, <span><%= restaurant.state %></span> <span><%= restaurant.ZIP %></span>
              <%= f.label :party_size, "Party size:", class: "control-label top_space" %>
              <div class="controls">
                <%= f.text_field :party_size, class: "span1" %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :time, "Date & Time:", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :time, id: "timepicker_#{restaurant.id}", class: "input-medium" %>
                <a href="#" class="btn request_links margin_button black_btn" data-dismiss="modal">Close</a>
                <%= f.submit "Make reservation request", class: "btn btn-primary request_links margin_button" %>
              </div>
            </div>
            <%= f.hidden_field :restaurant_id, value: restaurant.id %>
		        <script type="text/javascript">
              $(function() {
                $("#timepicker_<%= restaurant.id %>").datetimepicker({dateFormat: "dd/mm/yy", timeFormat: "h:mm TT", hour: 12, minute: 0, ampm: true, stepMinute: 15});
              });
            </script>
            <div id="errors_<%= restaurant.id %>" class="hidden"></div>
          </fieldset>
        </div>
      <% end %>
    </div>
  </div>
</div>