<% provide(:title, "find restaurants") %>

<div class="hero-unit clearfix less_padding">
  <div class="row-fluid">
    <div class="span4 sidebar">
      <%= render "shared/sidebar"%>
    </div>
    <div class="span8 content">
      <h1 class="page_title bottom_space">find restaurants</h1>
      <p class="same_line less_left_space">
        Search results for
        <% if @name.empty? && @city.empty? && @state.empty? %>
          all restaurants:
        <% elsif @name.empty? && @city.empty? %>
          restaurants in <%= @state %>:
        <% elsif @name.empty? && @state.empty? %>
          restaurants in <%= @city %>:
        <% elsif @city.empty? && @state.empty? %>
          the restaurant <%= @name %>:
        <% elsif @name.empty? %>
          restaurants in <%= @city %>, <%= @state %>:
        <% elsif @city.empty? %>
          the restaurant <%= @name %> in <%= @state %>:
        <% elsif @state.empty? %>
          the restaurant <%= @name %> in <%= @city %>:
        <% else %>
          the restaurant <%= @name %> in <%= @city %>, <%= @state %>:
        <% end %>
        (<%= @restaurants.count %>)
      </p>
      <p class="same_line2_restaurants"><small>(click on a restaurant to book a reservation)</small></p>
      <div class="search_results">
        <% if @restaurants.any? %>
          <ol class="restaurants">
            <%= render @restaurants %>
          </ol>
          <%= will_paginate @restaurants, options={inner_window: 1, previous_label: "<<", next_label: ">>"} %>
        <% else %>
          <hr>
          <p>We did not find any restaurants matching those search terms.</p>
        <% end %>
      </div>
      <% if params[:request_id] %>
        <script type="text/javascript"> 
          $(document).ready(function() {
            $("#makeReservation_<%= @request.restaurant.id.to_s %>").modal("show"); 
          });
        </script>
      <% end %>
    </div>
  </div>
</div>